body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url('raphael-lovaski-pxax5WuM7eY-unsplash.jpg');
  background-position: center;
  background-attachment: 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


h1 {
	color: white;
	text-align: center;
}

.buffer {
	height: 50px;
}
.btn {
	width: 150px;
	height: 50px;
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn:hover {
	box-shadow: 2px 2px 3px red;
}

hr {
	border-color: white;
	max-width: 200px;
}

